.box {

  background-color :blue;
  height: 400px;
  text-align: center;
  padding-top: 4px;


}

.setdays{
  background-color : yellow;
  height: 400px;
}

.boxs {

  background-color :blue;
  height: 400px;
  text-align: center;
padding-top: 1%;

}

